####Mysql Config
#Mysql hostname/ip
lama.mysql.host=localhost
#Mysql port
lama.mysql.port=3306
#Mysql database name
lama.mysql.database=lama
#Mysql user
lama.mysql.user=lamaAdmin
#Mysql password
lama.mysql.pass=lamaAdminPasswort
####Lama Server Config
#Lama Server RMI Port (default: 1099)
lama.server.port=1099